.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.App-split {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 30px;
}

body {
  background-color: #e5e7eb;
}

button {
  margin-top: 20px;
}

label {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
